<!doctype html>
<html>
	<head>
		<title>Gregory Mchopa - Bio</title>
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
</head>

<body>
	
	<div id="page" class="clearfix">

		<div id="left-sidebar">
			<div id="left-title" class="dot1">
				<a href="index.html"><img src="img/mchopa_logo.gif" alt="Gregory Mchopa" width="234" height="30" border="0" /></a>
			</div>
			<div id="left-nav">
				<ul>
					<li class="sidenav dot1 selected">BIO</li>
					<li class="sidenav dot1"><a href="inspiration.html">INSPIRATION</a></li>
					<li class="sidenav dot1"><a href="gallery">GALLERY</a></li>
					<li class="sidenav dot1"><a href="links.html">LINKS</a></li>
					<li class="sidenav dot1"><a href="contact.html">CONTACT</a></li>
				</ul>				
			</div>
			<div id="left-map">
				<img src="img/africa_map.gif" alt="Tanzania, Africa" width="230" height="290" />
			</div>
		</div>

		<div class="right-content static-right-content" id="bio">
			<div class="dot1 right-space1"></div>

			<div id="bio-content">
				<div class="dot1 header1">GREGORY MCHOPA'S BIOGRAPHY</div>
				<div class="static-right-image"><img src="img/mchopa_pic.jpg" alt="Gregory Mchopa" width="423" height="279" class="content-image" /></div>
				<div class="static-right-text">
					<p>Gregory Mchopa, 25, sells his strikingly luminous work in a small shop he owns on the Msasani Peninsula. Nearby, in dusty alleyways, men stretch and nail cloth over wooden frames. They prime the cloth in quick strokes, and leave it to dry in the sun. Only then is it ready to become one of Mchopa's next canvasses; he buys many of them. Mchopa mixes the paints himself, preparing the oils he's able to source via contacts in South Africa with a resin that keeps them moist in the hot African sun. He deftly combines tints to re-create the iconic colors of his native Maasai, blending colors in swift motions on a table-top. At the same time, on the dusty Nokia he clutches in the other hand, he also secures inventory and makes local sales in mile-a-minute Swahili.</p>
					<br />
					<p>Mchopa, originally from Dar es Salaam, is a young African entrepreneur reaching out into the world. But when the canvas is ready for him, with the radio scratching beside his wooden toolbox, he returns to his art and to the world he knows best: that of the Maasai. He has been painting for 16 years.</p>
				</div>
			</div>
			<div class="right-space3 dot1"></div>
			<div id="right-footer" class="clearfix">
				<div id="logo"><a href="http://www.brutelabs.org/?src=mchopa"><img src="img/b.gif" alt="BRUTE LABS" width="18" height="18" border="0" /></a></div>
				<div class="footer">Copyright © 2009 Gregory Mchopa. All Rights Reserved</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

	<script type="text/javascript">
	  try {
	    var pageTracker = _gat._getTracker("UA-9083772-1");
		pageTracker._trackPageview();
	  } catch(err) {}
	</script>

</body>
</html>
