<!doctype html>
<html>
	<head>
		<title>Gregory Mchopa</title>
		<meta name="description" content="The work of artist Gregory Mchopa." />

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta property="og:title" content="Gregory Mchopa" />
		<meta property="og:description" content="The work of artist Gregory Mchopa." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.mchopa.com" />
        <meta property="og:site_name" content="Gregory Mchopa" />
        <meta property="fb:admins" content="1000470,"/>

		<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body>
	
	<div id="page" class="clearfix">

		<div id="left-sidebar">
			<div id="left-title" class="dot1">
				<a href="index.html"><img src="img/mchopa_logo.gif" alt="Gregory Mchopa" width="234" height="30" border="0" /></a>
			</div>
			<div id="left-nav">
				<ul>
					<li class="sidenav dot1"><a href="bio.html">BIO</a></li>
					<li class="sidenav dot1"><a href="inspiration.html">INSPIRATION</a></li>
					<li class="sidenav dot1"><a href="gallery">GALLERY</a></li>
					<li class="sidenav dot1"><a href="links.html">LINKS</a></li>
					<li class="sidenav dot1"><a href="contact.html">CONTACT</a></li>
				</ul>				
			</div>
			<div id="left-map">
				<img src="img/africa_map.gif" alt="Tanzania, Africa" width="230" height="290" />
			</div>
		</div>

		<div class="right-content" id="home">
			<div class="dot1 right-space1"></div>
            <div id="right-slider" class="contentslide">
            	<div class="contentdiv">
					<div class="header1">MCHOPA.COM IS NOW OPEN FOR BUSINESS!</div>
					<div class="content-image home-image"><img src="img/mchopa-home-ofb.jpg" alt="Mchopa.com is now open for business!" width="648" height="432" border="0"/></div>
				</div>
				<div class="contentdiv">
					<div class="header1">THE GREGORY MCHOPA STORY</div>
					<div class="content-image home-image"><img src="img/the_story_home.jpg" alt="The Gregory Mchopa Story" width="648" height="432" border="0"/></div>
				</div>
				<div class="contentdiv">
					<div class="header1"><a href="gallery">GREGORY MCHOPA'S GALLERY</a></div>
					<div class="content-image home-image"><a href="gallery"><img src="img/browse_home.jpg" alt="Broswe The Works of Gregory Mchopa" width="648" height="432" border="0"/></a></div>
				</div>
				<div class="contentdiv">
					<div class="header1"><a href="inspiration.html">GREGORY MCHOPA'S INSPIRATION</a></div>
					<div class="content-image home-image"><a href="inspiration.html"><img src="img/discover_home.jpg" alt="Discover What Inspires Gregory Mchopa" width="648" height="432" border="0"/></a></div>
				</div>
				<div class="pagination" id="paginate-right-slider"></div>  
            </div>

            <div class="dot1 right-space2"></div>

			<div id="right-footer" class="clearfix">
				<div id="logo"><a href="http://www.brutelabs.org/?src=mchopa"><img src="img/b.gif" alt="BRUTE LABS" width="18" height="18" border="0" /></a></div>
				<div class="footer">Copyright © 2009 Gregory Mchopa. All Rights Reserved</div>
			</div>

		</div>
	</div> 

	<script type="text/javascript" src="js/contentslider.js"></script>

	<script type="text/javascript">
	  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>

	<script type="text/javascript">
	  try {
	    var pageTracker = _gat._getTracker("UA-9083772-1");
	    pageTracker._trackPageview();
	  } catch(err) {}
	</script>

	<script type="text/javascript"> 
	  ContentSlider("right-slider", 5000);
	</script> 

</body>
</html>
