<!doctype html>
<html>
	<head>
		<title>Gregory Mchopa - By Series</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
</head>

<body>
	
	<div id="page" class="clearfix">

		<div id="left-sidebar">
			<div id="left-title" class="dot1">
				<a href="/index.html"><img src="/img/mchopa_logo.gif" alt="Gregory Mchopa" width="234" height="30" border="0" /></a>
			</div>
			<div id="left-nav">
				<ul>
					<li class="sidenav dot1"><a href="/bio.html">BIO</a></li>
					<li class="sidenav dot1"><a href="/inspiration.html">INSPIRATION</a></li>
					<li class="sidenav dot1 selected">GALLERY &gt;</li>
					<li class="sidenav dot1">
						<div id="gallery-sublist">
							<a href="/gallery">ALL</a><br />
							<span class="selected">BY SERIES</span><br />
							<a href="/gallery/size.html">BY SIZE</a><br />
						</div>
					</li>
					<li class="sidenav dot1"><a href="/links.html">LINKS</a></li>
					<li class="sidenav dot1"><a href="/contact.html">CONTACT</a></li>
				</ul>				
			</div>
			<div id="left-map">
				<img src="/img/africa_map.gif" alt="Tanzania, Africa" width="230" height="290" />
			</div>
		</div>

		<div class="right-content static-right-content" id="series">
			<div class="dot1 right-space1"></div>

			<div id="series-content">
				<div class="dot1 header1"><a href="../gallery">GALLERY</a> &gt; SERIES</div>
				<div class="series-item clearfix">
					<div class="series-detail">
						<div class="gallery-header"><a href="../gallery?filter=series&value=classic">Classic Series</a></div>
						<div><a href="../gallery?filter=series&value=classic"><img class="content-image" src="../img/classic_series.jpg" alt="Classic Series" width="135" height="181"/></a></div>
					</div>
					<div class="series-detail series-description">Gregory Mchopa's classic series is comprised of portraiture paintings that capture the iconic Masai aesthetic; long elegant body lines, flowing robes (called Shúkà in Maa or Kanga in Swahili) in their favored red and yellow earth tones set in a background of the expansive and colorful East African plains. <br /><br /><a href="../gallery?filter=series&value=classic">Browse the Classic Series</a>
					</div>
				</div>
				
				<div class="series-item clearfix">
					<div class="series-detail">
						<div class="gallery-header"><a href="../gallery?filter=series&value=illustrative">Illustrative Series</a></div>
						<div><a href="../gallery?filter=series&value=illustrative"><img class="content-image" src="../img/illustrative_series.jpg" alt="Illustrative Series" width="135" height="174"/></a></div>
					</div>
					<div class="series-detail series-description">The illustrative series provides a glimpse into the rhythms of life in the nomadic warrior culture. Depictions of the circular Inkajijik (houses) built by able-bodied women, snow-capped Mt. Kilimanjaro and shade providing acacia trees pepper the paintings of daily life. <br /><br /><a href="../gallery?filter=series&value=illustrative">Browse the Illustrative Series</a>
					</div>
				</div>

				<div class="series-item clearfix">
					<div class="series-detail">
						<div class="gallery-header"><a href="../gallery?filter=series&value=abstract">Abstract Series</a></div>
						<div><a href="../gallery?filter=series&value=abstract"><img class="content-image" src="../img/abstract_series.jpg" alt="Abstract Series" width="135" height="331"/></a></div>
					</div>
					<div class="series-detail series-description">With his abstract series, Mchopa evokes the strong emotions of cultural pluralism that marks the Masai identity. Forceful brush strokes lend an air of organic movement to the sweeping colors and contrasts, as life moves past reality and into the dreamscape.<br /><br /><a href="../gallery?filter=series&value=abstract">Browse the Abstract Series</a>
					</div>
				</div>				
			</div>
			<div class="right-space3 dot1"></div>
			<div id="right-footer" class="clearfix">
				<div id="logo"><a href="http://www.brutelabs.org/?src=mchopa"><img src="/img/b.gif" alt="BRUTE LABS" width="18" height="18" border="0" /></a></div>
				<div class="footer">Copyright © 2009 Gregory Mchopa. All Rights Reserved</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	  try {
	    var pageTracker = _gat._getTracker("UA-9083772-1");
	    pageTracker._trackPageview();
	  } catch(err) {}
	</script>

</body>
</html>
