<!doctype html>
<html>
	<head>
		<title>Gregory Mchopa - By Size</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
</head>

<body>
	
	<div id="page" class="clearfix">

		<div id="left-sidebar">
			<div id="left-title" class="dot1">
				<a href="/index.html"><img src="/img/mchopa_logo.gif" alt="Gregory Mchopa" width="234" height="30" border="0" /></a>
			</div>
			<div id="left-nav">
				<ul>
					<li class="sidenav dot1"><a href="/bio.html">BIO</a></li>
					<li class="sidenav dot1"><a href="/inspiration.html">INSPIRATION</a></li>
					<li class="sidenav dot1 selected">GALLERY &gt;</li>
					<li class="sidenav dot1">
						<div id="gallery-sublist">
							<a href="/gallery">ALL</a><br />
							<a href="/gallery/series.html">BY SERIES</a><br />
							<span class="selected">BY SIZE</span><br />
						</div>
					</li>
					<li class="sidenav dot1"><a href="/links.html">LINKS</a></li>
					<li class="sidenav dot1"><a href="/contact.html">CONTACT</a></li>
				</ul>				
			</div>
			<div id="left-map">
				<img src="/img/africa_map.gif" alt="Tanzania, Africa" width="230" height="290" />
			</div>
		</div>

		<div class="right-content static-right-content" id="size">
			<div class="dot1 right-space1"></div>

			<div id="series-content">
				<div class="dot1 header1"><a href="../gallery">GALLERY</a> &gt; SIZE</div>
				<div class="size-item clearfix">
					<div class="size-detail">
						<div class="gallery-header"><a href="../gallery?filter=size&value=10x14">10x14</a></div>
						<div><a href="../gallery?filter=size&value=10x14"><img class="content-image" src="../img/10x14.gif" alt="10x14" width="136" height="189"/></a></div>
					</div>
					<div class="size-detail size-description">Artist: Gregory Mchopa<br />Medium: Original oil on canvas<br />Size – 10x14<br /><br /><a href="../gallery?filter=size&value=10x14">Browse the 10x14 gallery</a>
					</div>
				</div>

				<div class="size-item clearfix">
					<div class="size-detail">
						<div class="gallery-header"><a href="../gallery?filter=size&value=12x28">12x28</a></div>
						<div><a href="../gallery?filter=size&value=12x28"><img class="content-image" src="../img/12x28.gif" alt="12x28" width="136" height="315"/></a></div>
					</div>
					<div class="size-detail size-description">Artist: Gregory Mchopa<br />Medium: Original oil on canvas<br />Size – 12x28<br /><br /><a href="../gallery?filter=size&value=12x28">Browse the 12x28 gallery</a>
					</div>
				</div>

				<div class="size-item clearfix">
					<div class="size-detail">
						<div class="gallery-header"><a href="../gallery?filter=size&value=17x28">17x28</a></div>
						<div><a href="../gallery?filter=size&value=17x28"><img class="content-image" src="../img/17x28.gif" alt="17x28" width="134" height="219"/></a></div>
					</div>
					<div class="size-detail size-description">Artist: Gregory Mchopa<br />Medium: Original oil on canvas<br />Size – 17x28<br /><br /><a href="../gallery?filter=size&value=17x28">Browse the 17x28 gallery</a>
					</div>
				</div>

				<div class="size-item clearfix">
					<div class="size-detail">
						<div class="gallery-header"><a href="../gallery?filter=size&value=20x24">20x24</a></div>
						<div><a href="../gallery?filter=size&value=20x24"><img class="content-image" src="../img/20x24.gif" alt="20x24" width="136" height="163"/></a></div>
					</div>
					<div class="size-detail size-description">Artist: Gregory Mchopa<br />Medium: Original oil on canvas<br />Size – 20x24<br /><br /><a href="../gallery?filter=size&value=20x24">Browse the 20x24 gallery</a>
					</div>
				</div>

				<div class="size-item clearfix">
					<div class="size-detail">
						<div class="gallery-header"><a href="../gallery?filter=size&value=23x31">23x31</a></div>
						<div><a href="../gallery?filter=size&value=23x31"><img class="content-image" src="../img/23x31.gif" alt="23x31" width="136" height="183"/></a></div>
					</div>
					<div class="size-detail size-description">Artist: Gregory Mchopa<br />Medium: Original oil on canvas<br />Size – 23x31<br /><br /><a href="../gallery?filter=size&value=23x31">Browse the 23x31 gallery</a>
					</div>
				</div>


			</div>
			<div class="right-space3 dot1"></div>
			<div id="right-footer" class="clearfix">
				<div id="logo"><a href="http://www.brutelabs.org/?src=mchopa"><img src="/img/b.gif" alt="BRUTE LABS" width="18" height="18" border="0" /></a></div>
				<div class="footer">Copyright © 2009 Gregory Mchopa. All Rights Reserved</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	  try {
	    var pageTracker = _gat._getTracker("UA-9083772-1");
	    pageTracker._trackPageview();
	  } catch(err) {}
	</script>

</body>
</html>
